@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;700&family=Montserrat&display=swap');

/*-- About -- */
.about-content {
    text-align: left;
    font-size: large;
    align-content: center;
}

.modal-header {
  color: black;
  font-family: '400, Libre Franklin', sans-serif;
}

.modal-content {
  color: black;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}


/* -- Enquire */

/* -- General */
body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background-color: #343a40;
    color: #fff;
    margin-top: 70px;
}

.uppercase {
    text-transform: uppercase;
}

/*-- General - Use for all nav headings -- */
.heading-margin {
    margin-top: 70px;
}

/*-- Hero-image -- */
.hero-image {
background: url(../images/heroimage.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 30%;
    padding-bottom:30%;
}

/* -- Nav Bar -- */
.navbar-brand {
    text-transform: uppercase;
    font-family: '700, Libre Franklin', sans-serif;
    font-weight: bold;
    font-size: 140%;
}

.navbar-nav {
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    text-transform: uppercase;
    text-decoration: black;
}

/* -- Music 
ul, remove-bullet-points {
    list-style-type: none;
} */
/* -- Sign-up */

/* -- Social */

/* -- Tour */

/* -- Videos */
