@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;700&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
} 
/*-- About -- */


.about-content {
    text-align: left;
    font-size: large;
    align-content: center;
}

.modal-header {
  color: black;
  font-family: '400, Libre Franklin', sans-serif;
}

.modal-content {
  color: black;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}


/* -- Enquire */
.enquire-content {
    font-family: '700, Libre Franklin', sans-serif;
    font-weight: bold;
}
/* -- General */
body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background-color: #343a40;
    color: #fff;
}

.uppercase {
    text-transform: uppercase;
}

/*-- General - Use for all nav headings -- */
.heading-margin {
    margin-top: 70px;
}

/*-- Hero-image -- */
.hero-image {
background: url(../images/heroimage.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 30%;
    padding-bottom:45%;
}

/* -- Nav Bar -- */
.navbar-brand {
    text-transform: uppercase;
    font-family: '700, Libre Franklin', sans-serif;
    font-weight: bold;
    font-size: 140%;
}

.navbar-nav {
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    text-transform: uppercase;
    text-decoration: black;
}

nav a:hover {
    border-bottom: 1px solid #fff;
}

/* -- Music */
.music-container {
    background: url(../images/livemusic.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 1%;
    padding-bottom:1%;
}

.album-content {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
}

.spotify-colour {
    color: #1DB954;
}

.apple-music-colour {
    color: #dc3545;
}

.bandcamp-music-colour {
    color: #629aa9;
}


/* -- Photos */


/* -- Sign-up */
.newsletter {
   line-height: 1.5;
    
}

/* -- Social */
footer {
    width: 100%;
}
.social-networks {
      text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 175%;
    padding: 5%;
}

.twitter-colour {
    color: #1DA1F2;
}

.youtube-colour {
    color: #FF0000;
}

.facebook-colour {
    color: #3b5998;
}

.instagram-colour {
    color: #833AB4;
}

/* -- Tour */
.tour-container {
    background: url(../images/bpnew.jpeg) no-repeat center center;
    background-size: cover;
    padding-top: 1%;
    padding-bottom: 1%;
}

.tour-content {
    color: black;
    font-weight: bold;
    background-color: #dc3545;
    padding-top: 1%; 
    justify-content: flex-end;
}

.style-p {
    font-weight: bold;
    font-size: larger;
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 2px;
}


.calender-colour {
    color: #ffffb5;
}
/* -- Videos */


.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    margin-right: 1%;
    margin-bottom: 1%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  
}
/* -- Media Queries */
@media (max-width: 600px) {
    .hide-header {
        display: none;
    }
}

@media (max-width: 600px) {
    .font-size {
        font-size: smaller;
    }
}

@media (max-width: 600px) {
    .social-networks i {
        font-size: 100%;
    }
}

@media only screen  and (min-width : 1224px) {
  .resize-heroimg {
      padding-bottom: 15%;
      padding-top: 25%;
  }

@media only screen  and (min-width : 1224px) {
  .resize-tourimg {
      padding-bottom: 8%;
      padding-top: 8%;
  }

@media only screen  and (min-width : 1224px) {
  .heading-tour {
      margin-bottom: 30%;
  }

  @media only screen  and (min-width : 1224px) {
    .style-p {
        background-color: #777777;
    }
}